/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	padding-top: 40px;
	padding-left: 10px;
}




.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 500px;
}



.container {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

.alert {
	margin-top: 10px;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 142px; /* the bottom margin is the negative value of the footer's height */
}


footer.common {
    border-top: 0 none;
    bottom: 0;

}


footer.common {
    clear: both;
    display: block;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    height: 135px;
    min-width: 960px;
    width: 100%;
    z-index: 100;
}

footer.common ul {
    margin: 3px auto 0;
    padding: 15px 5px 8px 0;
    text-align: center;
    width: 612px;
}


footer.common ul.copy {
    color: #777777;
    font-family: Arial,sans-serif;
    font-size: 9px;
    font-weight: normal !important;
    list-style-type: none;
    min-height: 14px;
    padding-top: 10px;
}

ol, ul {
    list-style: none outside none;
}